*, all {
    margin: 0px;
    padding: 0px;
}

img {
    border: 0px;
}

ul {
    list-style-position: inside;
}

body {
    background: url(/img/top.jpg) repeat-x 0px 0px;
    text-align: center;

    font-family: Arial, FreeSans, sans-serif;
    font-size: 80%;
    color: #444444;
}

a {
    color: #DA3B3B;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

h1 {
    text-align: left;
    font-size: 1.8em;
    margin: 0px 0px 20px 0px;
}

h2 {
    text-align: left;
    font-size: 1.4em;
    margin: 0px 0px 20px 0px;
    color: #999999;
}

#wrapper {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    width: 960px;
    text-align: left;
}

#top {
    position: relative;
    height: 120px;
}

#top strong {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: bold;
    display: block;
    position: relative;
    margin: 20px 0px 10px 0px;
}

#top span {
    color: #dddddd;
    font-size: 1em;
    display: block;
    position: relative;
}

#top #breadcrumb {
    position: absolute;
    top: 85px;
    left: 0px;
    font-size: 0.8em;
}

#top #breadcrumb a {

}

#top #welcome {
    position: absolute;
    top: 10px;
    right: 0px;
    display: inline-block;
    color: #aaaaaa;
}

#top #welcome a:hover {
    color: #ffffff;
}

#menu {
    position: relative;
    float: right;
    width: 240px;
    border: 1px solid #dddddd;
    background: #eeeeee;
    height: auto;
}

#menu h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 5px;
}

#menu ul {
    margin-bottom: 15px;
}

#menu ul li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding: 3px 5px;
}

#menu ul li a {
    background: transparent url(/img/lm-li.gif) no-repeat 0px 3px;
    padding-left: 20px;
}

#content {
    position: relative;
    float: left;
    width: 700px;
    height: auto;
}

.index {

}

#bottom {
    position: relative;
    clear: both;
    margin-top: 40px;
    border-top: 1px solid #dddddd;
}
